# Configuration for agrosavia data filtered by plink
default:
    phenotypeFile    : "in/agrosavia-phenotype-checked.tbl"
    genotypeFile     : "in/agrosavia-genotype-tetra-ACGT.tbl"
    genotypeFormat   : "ACGT"
    gwasModel        : "Kinship+PCs"
    MIND             : NULL      # Default 0.1
    GENO             : NULL     # Default 0.1
    MAF              : NULL     # Default 0.01
    HWE              : NULL    # Default 1e-10

