# Configuration for agrosavia data filtered by plink
default:
    phenotypeFile    : "agrosavia-phenotype.tbl"
    genotypeFile     : "agrosavia-genotype-tetra-ACGT.tbl"
    genotypeFormat   : "ACGT"
    genotypePloidy   : 4
    gwasModel        : "Naive"
    structureFile    : NULL
    annotationsFile  : NULL

