# Configuration for agrosavia data filtered by plink
default:
    phenotypeFile    : "agrosavia-phenotype-PASJ96.tbl"
    genotypeFile     : "agrosavia-genotype-tetra-ACGT.tbl"
    genotypeFormat   : "ACGT"
    genotypePloidy   : 4
    gwasModel        : "Kinship"
    structureFile    : NULL
    annotationsFile  : NULL

