# Configuration for agrosavia data filtered by plink
default:
    phenotypeFile    : "in/gwaspoly-phenotype-tuber_shape.tbl"
    genotypeFile     : "in/gwaspoly-genotype.tbl"
    genotypeFormat   : "ACGT"
    genotypePloidy   : 4
    gwasModel        : "Naive"
    structureFile    : NULL
    annotationsFile  : NULL
    MIND             : 0.5      # Default 0.1
    GENO             : 0.5      # Default 0.1
    MAF              : 0.001     # Default 0.01
    HWE              : 1e-50    # Default 1e-10

