# Configuration for agrosavia data filtered by plink
default:
    phenotypeFile    : "gwaspoly-phenotype-tuber_shape.tbl"
    genotypeFile     : "agrosavia-genotype-potato.tbl"
    genotypeFormat   : "ACGT"
    genotypePloidy   : 4
    gwasModel        : "Naive"
    structureFile    : NULL
    annotationsFile  : NULL

