# Configuration for agrosavia data filtered by plink
default:
    phenotypeFile    : "in/agrosavia-phenotype-Gota.tbl"
    genotypeFile     : "in/agrosavia-genotype-tetra-ACGT.tbl"
    format           : "numeric"  # "ACGT"|"numeric"|"AB"
    gwasModel        : "Kinship+PCs"
    MIND             : 0.5      # Default 0.1
    GENO             : 0.5      # Default 0.1
    MAF              : 0.001     # Default 0.01
    HWE              : 1e-50    # Default 1e-10
