# Configuration for agrosavia data filtered by plink
default:
    phenotypeFile    : "in/agrosavia-phenotype-PASJ96.tbl"
    genotypeFile     : "in/agrosavia-genotype-tetra-ACGT.tbl"
    genotypeFormat   : "ACGT"
    genotypePloidy   : 4
    gwasModel        : "Kinship+PCs"
    structureFile    : NULL
    annotationsFile  : NULL

