# Configuration for agrosavia data filtered by plink
default:
    phenotypeFile    : "in/gwaspoly-phenotype-tuber_shape.tbl"
    genotypeFile     : "in/gwaspoly-genotype.tbl"
    genotypeFormat   : "ACGT"
    genotypePloidy   : 4
    gwasModel        : "Kinship+PCs"
    structureFile    : NULL
    annotationsFile  : NULL

