# Configuration for agrosavia data filtered by plink
default:
    phenotypeFile    : "in/agrosavia-phenotype-checked.tbl"
    genotypeFile     : "in/agrosavia-genotype-tetra-ACGT.tbl"
    genotypeFormat   : "ACGT"
    gwasModel        : "Naive"
    MIND             : 0.5   # NULL      # Default 0.1
    GENO             : 0.5   # NULL     # Default 0.1
    MAF              : 0.001 # NULL     # Default 0.01
    HWE              : 1e-50  # NULL    # Default 1e-10

